.App {
    text-align: center;
}

.App-logo {
    position: absolute;
    text-align: center;
    animation: App-logo-spin infinite 20s linear;
    height: 96px;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.App-header {
    position: relative;
    background-color: #222222;
    height: 100%;
    padding: 16px;
    /* color: #ffffff; */
}

.App-title {
    position: absolute;
    text-align: center;
    top: 72px;
    font-size: 2.5rem;
}

.App-subTitle {
    position: absolute;
    top: 120px;
    font-size: 2.0rem;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}