
.App {
    text-align: center;
}

.App-logo {
    position: absolute;
    text-align: center;
    animation: App-logo-spin infinite 20s linear;
    height: 96px;
}

.App-header {
    position: relative;
    width: 88%;
    height: 12rem;
    background-color: #222222;
    text-align: center;
    font-size: 1.5rem;
    color: #2a77ae;
    text-shadow: 2px 1px 4px #000044;
    margin: 0px auto;
    padding: 16px;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.App-title {
    position: absolute;
    text-align: center;
    top: 80px;
    font-size: 2.5rem;
}

.App-subTitle {
    position: absolute;
    top: 144px;
    font-size: 1.75rem;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

